<!-- <nav class="navbar navbar-expand-md navbar-light">

    <a class="navbar-brand" href="#"><img src="../../../../assets/img/logo.png" alt="" style="width:10%"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto py-4 py-md-0">

            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                <a class="navbar-brand" [routerLink]="['']">Home</a>
            </li>
            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                <a class="nav-item nav-link" [routerLink]="['/product/list']" routerLinkActive="active">Shop</a>
            </li>

        </ul>
    </div>

</nav> -->
<div class="d-flex align-items-center flex-grow-1" *ngIf="isMobilevar">
    <img class="app-image" src="assets/img/logo.png" id="logo-icon" />
    <div class="account-name-container">
        <div class="account-info">
            <div class="account-name text-overflow-ellipsis">Ralph Lauren</div>
            <div class="account-details text-overflow-ellipsis"><i class="account-type">Active</i> &#5867; Andrew & Co.</div>
        </div>
    </div>
</div>

<div class="app-container d-flex">
    <div class="d-flex align-items-center flex-grow-1" *ngIf="isDesktopvar">
        <img class="app-image" src="assets/img/logo.png" id="logo-icon" />
        <div class="account-name-container">
            <div class="account-info">
                <div class="account-name text-overflow-ellipsis">Ralph Lauren</div>
                <div class="account-details text-overflow-ellipsis"><i class="account-type">Active</i> &#5867; Andrew & Co.</div>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-center">
        <span id="user-names-data" class="user-names">Aakriti</span>
        <img class="user-icon" src="assets/img/profile.png" id="user-icon" />
        <ng-container>
            <div class="notification-icon-container">
                <img class="notification-icon" src="assets/img/NotificationIcon.svg" id="notification-icon" />
                <div class="notifications-total-container">
                    <span class="notifications-total">1</span>
                </div>
            </div>

        </ng-container>

    </div>
</div>