@import "_variables";
@import "./../../../../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "./../../../../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/_ag-theme-alpine-mixin.scss";

/***********PARTIAL STYLESHEET****************/
/***********APPLICATION CORE****************/

.text-overflow-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.white-space-pre {
  white-space: pre;
}

.card-table {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($card-min-width, 1fr));
  grid-column-gap: 0.75em;
  grid-row-gap: 0.75em;
}

/***************CUSTOM FONTS**************/
@font-face {
  font-family: "Univers_45_Light";
  src: url("src/assets/fonts/Univers_45_Light.ttf") format("truetype");
}

@font-face {
  font-family: "Univers_55";
  src: url("src/assets/fonts/Univers_55.ttf") format("truetype");
}

@font-face {
  font-family: "Univers_LT_45_Light_Oblique";
  src: url("src/assets/fonts/Univers_LT_45_Light_Oblique.ttf") format("truetype");
}

@font-face {
  font-family: "UniversLTStd-Obl";
  src: url("src/assets/fonts/UniversLTStd-Obl.otf") format("opentype");
}

@font-face {
  font-family: "Univers_65_Bold";
  src: url("src/assets/fonts/Univers_65_Bold.ttf") format("truetype");
}

/************DEFAULT FONT**************/
html {
  font-family: "Univers_45_Light", Fallback, sans-serif !important;
}
/************************************/

/*****************NO_INPUT_NUMBER_ARROWS************/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
/********************** AG Grid styles *****************************/
.ag-theme-alpine {
  @include ag-theme-alpine(
    (
      font-family: $Univers,
    )
  );

  .ag-header-row.ag-header-row-column {
    background-color: $primary-color !important;
    font-family: $Univers;
    font-size: 0.9375rem !important;
    font-weight: 400 !important;
    top: 0px !important;
    height: 2.5rem !important;
    width: 100% !important;
    color: $light-color !important;
  }

  .ag-header-cell-resize::after {
    background-color: $light-color !important;
    width: 0.0625rem; //1px
    height: 1.25rem; //20px
    top: auto;
  }

  // .ag-header-container {
  //  // width: 100% !important;
  // }

  .ag-header {
    height: 5.625rem !important;
    min-height: 5.625rem !important;
    text-transform: uppercase;
  }

  .ag-header-row.ag-header-row-floating-filter {
    top: 2.5rem !important;
    height: 3.125rem !important;
    width: 100% !important;
    background-color: $dark-color !important;
  }

  .ag-floating-filter-button .ag-icon-filter:before {
    content: url("/assets/images/filter.svg") !important;
  }

  .ag-input-field-input.ag-text-field-input {
    min-height: 1.875rem !important;
    border-radius: 0px !important;
  }

  .ag-row {
    color: $dark-color !important;
    font-family: $Univers !important;
    font-size: 0.75rem !important;
    border: none !important;
    background-color: $light-color !important;
  }

  .ag-row-odd {
    background-color: $light-color !important;
  }

  .ag-ltr .ag-cell {
    border-left: 0.0625rem solid $dark-color !important;
    border-bottom: 0.0625rem solid $dark-color !important;
    text-transform: uppercase !important;
  }

  .required-validation-text {
    color: $required-color !important;
    font-family: $Univers_Bold !important;
  }

  .validation-error {
    color: $invalid-error-color !important;
    font-family: $Univers_Bold !important;
  }

  .does-not-match-error {
    color: $hyperlink-blue !important;
    font-family: $Univers_Bold !important;
  }

  .duplicate-error {
    color: $primary-color !important;
    font-family: $Univers_Bold !important;
  }

  .ag-body-viewport {
    @include custom-scrollbar();
  }

  .ag-center-cols-viewport {
    // overflow-x: inherit;
  }

  .ag-standard-button {
    color: $primary-color !important;
    border-color: $primary-color !important;
    background-color: $light-color !important;
    border: 0.0625rem solid $primary-color !important;
  }

  .ag-menu {
    background-color: $light-color !important;
    border-color: $primary-color !important;
  }

  .ag-radio-button-input-wrapper.ag-checked::after {
    color: $primary-color !important;
  }

  .ag-body-horizontal-scroll-viewport {
    @include custom-scrollbar();
  }
}

/************************************/
/********************** Bulk upload styles *****************************/
.bulk-upload {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  font-size: 1rem;

  .upload-grid {
    padding-right: 1.0625rem;
    width: 100%;
    height: 66vh;
  }

  .dialog-content-container {
    padding: 0.5rem 0.5rem 1.563rem 1.563rem;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    max-height: 90vh;
    width: 100%;

    .dialog-close-x-container {
      min-height: 1.25rem; // 20px
      display: flex;
      justify-content: flex-end;

      .dialog-close-btn {
        height: 1.25rem; // 20px
        width: 1.25rem;
        cursor: pointer;
      }
    }

    .dialog-content {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      flex: 1 1 auto;
      overflow-y: auto;
      overflow-x: auto;
      max-width: 100%;
      @include custom-scrollbar();

      .content-header {
        display: flex;
        border-bottom: 1px solid $primary-color;
        margin: 0 1.25em;
        padding-bottom: 0.625em;

        .header-title {
          font-family: $Univers-Light;
          font-size: 1.5625em;
          line-height: 1;
        }
      }
    }

    .save-button-box {
      height: 2.5em;
      width: 9.375rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background-color: $primary-color;
      cursor: pointer;
      border: none;
      margin-right: 1.0625rem;
      float: right;
      &:hover {
        background-color: $dark-color;
      }

      &:focus {
        outline: none;
        background-color: $dark-color;
      }

      .save-button-text {
        color: $light-color;
        font-size: 0.9375em;
        font-family: $Univers;
        margin-right: 0.45em;
        margin-left: 0.45em;
      }
    }

    .save-button-box:disabled {
      background-color: $dark-color;
      cursor: not-allowed;
    }

    .dialog-footer {
      margin-top: 2.125rem;

      .does-not-match-error {
        color: $hyperlink-blue;
        font-family: $Univers;
        font-size: 0.9375rem;
      }

      .incomplete-error {
        color: $required-color;
        font-family: $Univers;
        font-size: 0.9375rem;
      }

      .invalid-entry-error {
        color: $invalid-error-color;
        font-family: $Univers;
        font-size: 0.9375rem;
      }
    }

    .download-table-link {
      color: $hyperlink-blue;
      font-family: $Univers-Light;
      font-size: 1rem;
      line-height: 1rem;
      text-decoration: underline;
      margin-right: 0.3125rem;
    }

    .upload-dialog-label {
      color: $dark-color;
      font-family: $Univers-Light;
      font-size: 1.5625rem;
      margin-right: 1.5625rem;
    }

    .dialog-header {
      margin-bottom: 0.75rem;
      margin-right: 1.0625rem;
      margin-top: 0.5rem;
    }
  }
}
/************************************/
