@media screen and (min-width: 0px) { // temporary
  html {
    font-size: 0.85rem;
  }
}

@media screen and (min-width: 720px) {
  html {
    font-size: 0.5rem;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 0.5rem;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 0.75rem;
  }
}

@media screen and (min-width: 1280px) {
  html {
    font-size: 0.85rem;
  }
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 1536px) {
  html {
    font-size: 0.95rem;
  }
}

@media screen and (min-width: 1680px) {
  html {
    font-size: 1rem;
  }
}